body {
  text-align: center;
  background-color: black;
}

h1 {
  font-size: 5rem;
  color: gold;

}

img {
  width: 100px;
  height: 100px
}

.w {

}

.a {

}

.s {

}

.d {

}

.j {

}

.k {

}

.l {

}

.pic-container {

}

.key-container {

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.pic {
  outline: none;
  border: 10px solid darkgoldenrod;
  font-size: 5rem;
  font-family: sans-serif;
  line-height: 2;
  font-weight: 900;
  color: black;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

.key {
  outline: none;
  border: 10px solid darkgoldenrod;
  font-size: 5rem;
  font-family: sans-serif;
  line-height: 2;
  font-weight: 900;
  color: black;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
